name: send_request_to_cloud_function
run-name: running code

on: ["push"]

jobs:
    send-request:
        runs-on: ubuntu-latest
        steps:
            - id: 'auth'
              uses: google-github-actions/auth@v1
              with:
                credentials_json: '${{ secrets.GCP_CREDENTIALS }}'
            
            - name: Set up Cloud SDK
              uses: google-github-actions/setup-gcloud@v1

            - uses: actions/checkout@v4
            - run: pip install -r requirements.txt
            - run: python3 main.py